.purchase-btn {
  width: 250px;
  text-align: center;
  border-radius: 20%;
  bottom: 30px;
  right: 32px;
  position: fixed;
  padding: 15px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.purchase-btn-text {
  display: block;
  font-size: 130px;
  text-decoration: none;
  margin-bottom: 100px;
}

.purchase-btn-icon {
  width: 60%;
}

.purchase-btn:hover{
  transform: rotate(360deg);
  transition-duration: 0.5s;
}