.post-title-show{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  position: relative;
  display: flex;
  border: solid 3px;
}

.tag-name-show{
  font-size: 50px;
  font-weight: bold;

  border: solid 3px;
}